* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
}


@media only screen and (max-width:420px) {
    header{
        padding-top: 20px;
    }
    .container {
        max-width: 420px;
        width: 90%;
        padding: 0;
    }

    .header__ul {
        display: none;
    }

    .header__right {
        display: none;
    }

    .header-burger {
        display: block;
    }

    .header__bottom--wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .header-bottom-title {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.042em;
        width: 162px;
    }

    .header-bottom-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        width: 161px;
        margin-left: 20px;
    }

    .header-bottom-btn {
        padding: 12px 8px 12px 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-left: 20px;
    }

    .header-img {
        width: 343px;
        height: 183px;
        background-size: cover;
    }

    .header-cardimg {
        width: 99px;
        height: 108px;
        position: relative;
        left: 228px;
        top: 84px;
    }


}